
WizardsWitchesAndWombats/bin/Debug/WizardBattle.exe
WizardsWitchesAndWombats/bin/Debug/WizardBattle.pdb
WizardsWitchesAndWombats/bin/Debug/WizardBattle.vshost.exe
WizardsWitchesAndWombats/bin/Debug/WizardBattle.vshost.exe.manifest
WizardsWitchesAndWombats/bin/Debug/WizardsWitchesAndWombats.exe
WizardsWitchesAndWombats/bin/Debug/WizardsWitchesAndWombats.pdb
WizardsWitchesAndWombats/bin/Debug/WizardsWitchesAndWombats.vshost.exe
WizardsWitchesAndWombats/bin/Debug/WizardsWitchesAndWombats.vshost.exe.manifest
WizardsWitchesAndWombats/obj/x86/Debug/App.g.cs
WizardsWitchesAndWombats/obj/x86/Debug/App.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
WizardsWitchesAndWombats/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WizardsWitchesAndWombats/obj/x86/Debug/MainWindow.baml
WizardsWitchesAndWombats/obj/x86/Debug/MainWindow.g.cs
WizardsWitchesAndWombats/obj/x86/Debug/MainWindow.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.csproj.FileListAbsolute.txt
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.csproj.GenerateResource.Cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.exe
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.g.resources
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.pdb
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle.Properties.Resources.resources
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle_Content.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle_MarkupCompile.cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardBattle_MarkupCompile.i.cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.csproj.FileListAbsolute.txt
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.csproj.GenerateResource.Cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.exe
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.g.resources
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.pdb
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.Properties.Resources.resources
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats_MarkupCompile.cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats_MarkupCompile.i.cache
WizardsWitchesAndWombats/obj/x86/Debug/Character.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/CharacterAvatar.baml
WizardsWitchesAndWombats/obj/x86/Debug/CharacterAvatar.g.cs
WizardsWitchesAndWombats/obj/x86/Debug/CharacterAvatar.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
WizardsWitchesAndWombats/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats.csprojResolveAssemblyReference.cache
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats_MarkupCompile.i.lref
WizardsWitchesAndWombats/obj/x86/Debug/WizardsWitchesAndWombats_MarkupCompile.lref
